@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-VariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


:root {
    /* Common variables */
    --section-spacing: 16rem;
    --theme-transition: 0.2s ease-in-out;
    /* Chakra Teal Colors */
    --chakra-colors-teal-50: #f0fdfa;
    --chakra-colors-teal-100: #ccfbf1;
    --chakra-colors-teal-200: #99f6e4;
    --chakra-colors-teal-300: #5eead4;
    --chakra-colors-teal-400: #2dd4bf;
    --chakra-colors-teal-500: #14b8a6;
    --chakra-colors-teal-600: #0d9488;
    --chakra-colors-teal-700: #0c5d56;
    --chakra-colors-teal-800: #114240;
    --chakra-colors-teal-900: #032726;
    --chakra-colors-teal-950: #021716;
    /* Light Theme Colors */
    --color-accent: hsl(174.67deg 83.85% 31.57%);
    --magic-border: var(--chakra-colors-teal-300);
    --magic-gradient: var(--chakra-colors-teal-100);
    --color-base: hsl(0, 0%, 100%);
    --color-secondary: var(--chakra-colors-teal-100);
    --border-color: var(--chakra-colors-teal-300);
    --text-primary: var(--chakra-colors-teal-900);
    --text-secondary: var(--chakra-colors-teal-800);
    --gray-999: #ffffff;
    --accent-text-over: var(--gray-999);
}

html.dark {
    /* Dark Theme Colors */
    --magic-border: #1f2937;
    --magic-gradient: #22223b;
    --color-base: hsl(0, 0%, 0%);
    --color-secondary: var(--chakra-colors-teal-900);
    --border-color: #1f2937;
    --text-primary: var(--chakra-colors-teal-50);
    --text-secondary: var(--chakra-colors-teal-400);
    --gray-999: #090b11;
    --gray-0: #ffffff;
    --accent-text-over: var(--gray-0);
}

#animated-beams {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}